/* index */

.portfolio {
    background-color: var(--bg-light);
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  
.card-list {
    display: flex;
    flex-direction: column;
  }
  
  .card {
    min-width: 100%;
    background-color: var(--bg-white);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .25);
    margin-bottom: 1.5rem;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
  }

  
  .card:hover {
    box-shadow: 4px 4px 15px rgba(0, 0, 0, .5);
  }
  

  
.card img {
    width: 100%;
  }
  
.card .card-content {
    padding: .5rem 1.15rem 1.5rem;
    color: var(--text-default-lighten);
  }
  
 .card .card-title {
    display: block;
    font-weight: var(--semibold);
    font-size: 1.15rem;
    margin-bottom: .5rem;
    color: var(--text-default);
  }
  
.see-more {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.see-more a {
    text-decoration: none;
    color: var(--text-default);
    font-weight: var(--bold);
    font-size: 1.5rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 0 .5rem;
  }
  
.see-more a::before {
    position: absolute;
    bottom: .25rem;
    right: -.5rem;
    left: -.5rem;
    content: "";
    display: block;
    height: 10px;
    background-color: var(--bg-primary);
    z-index: -1;
  }
  
 .see-more a:hover {
    padding-bottom: 1rem;
    background-color: var(--bg-dark);
    color: var(--text-white);
  }


.card-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

.card .card-title {
    font-size: 1.25rem;
  }

.card .card-content {
    font-size: 1.05rem;
  }

.card-list > .card,
.card-list > .see-more {
    min-width: unset;
    width: 48%;
    margin: 1%;
  }


  .contact .contact-title {
    font-size: 3rem;
}
.contact .contact-social, .contact .contact-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}
.contact .contact-title {
    display: block;
    font-size: 2rem;
    background-color: #212121;
    background-color: var(--bg-dark);
    color: #ffc400;
    color: var(--text-primary);
    font-weight: 600;
    font-weight: var(--semibold);
    letter-spacing: 2px;
    text-transform: uppercase;
}


/* Thariq Razan */
#nama{
font-family: 'Staatliches';
font-size: 6.5rem;
text-shadow: 3px 3px 0px rgba(0, 0, 0, 1);
color: #FFC400;
}

.jumbotron {
  background: turquoise;
  text-align: left;
  border-radius: 0%; /*biar ujungnya lancip*/
}
.jumbotron p {
  color: black;
  font-size: 1.75rem;
  font-weight: 200;
}

.btn-primary {
  color: black;
  background-color: orange;
  border-color: black;

}
.btn-primary:hover {
  color: orange;
  background-color: black;
  border-color: orange;
}

.btn-outline-primary{
  color: #FFC400;
  background-color: black;
  border-color: black;
}

.btn-outline-primary:hover{
  color: black;
  background-color: #FFC400;
  border-color: #FFC400;
}

section h2{
  display: block;
  width: 10rem;   
  color: #FFC400;
  background-color: black;
  font-weight: var(--semibold);
  padding: 0.75rem;
  box-sizing: border-box;
  text-align: center;   
  margin-top: 1.5rem;
  }

#portfolio{
display: block;
width: 10rem;   
color: #FFC400;
background-color: black;
box-shadow: 10px 10px 0px #FFC400;
font-weight: var(--semibold);
padding: 0.75rem;
box-sizing: border-box;
text-align: center;   
margin-top: 1.5rem;
}

#contact{
display: block;
width: 10rem;   
color: #FFC400;
background-color: black;
box-shadow: -10px 10px 0px #FFC400;
font-weight: var(--semibold);
padding: 0.75rem;
box-sizing: border-box;
text-align: center;   
margin-top: 1.5rem;
margin-left: auto;
margin-right: 0rem;
}



.sosmed{
  font-size: 1.25rem;
  color: black;
  display: block;
  padding: 0.75rem;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 1rem;
}

.sosmed:hover{
  color: white;
  background-color: black;
  border-color: black;
  text-decoration: none;
  box-sizing: border-box;
  width: 25rem;
}

.content{
padding: 3rem 1.5rem;
}


.resumeTitle{
text-decoration-line: underline;
text-decoration-style: dashed;
margin-top: 3rem;
}


/* resume */
.resumeContent{
font-family: 'Wire One', sans-serif;
font-size: 2.3rem;
line-height: 2.7rem;
}
